{% extends 'adminlte/lib/_main_sidebar.html' %}

{% block nav_links %}
<li>
    <a href="{% url 'push_app_pushapplication_list' %}">
        <i class="fa fa-dashboard"></i> <span>Application</span>
    </a>
</li>

<li>
    <a href="{% url 'push_app_message_data_list' %}">
        <i class="fa fa-inbox"></i> <span>List Message</span>
    </a>
</li>

<li>
    <a href="{% url 'push_app_message_create' %}">
        <i class="fa fa-envelope"></i> <span>Messages</span>
    </a>
</li>
{% endblock nav_links %}